body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* this keeps the App component in the center of the page */
.container {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	min-height: 100vh;
}

/* for the notes list container which is present in NotesList.js to display it as a grid */
.notes-list {
	display: grid;
	grid-gap: 1rem;
  /* important : this line helps in fitting the notes of 250px when the screen size changes accordingly incresing the responsiveness */
	grid-template-columns: repeat(
		auto-fill,
		minmax(250px, 1fr)
	);
}





/* For each note  */
.note {
	background-color: #fef68a;
	border-radius: 10px;
	padding: 1rem;
	min-height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
}

/* for the footer of the note which conatins date and delete icon */
.note-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}